<%- include("partials/header") %>
<link rel="stylesheet" href="/css/about_us.css">
<title><%= projectName %></title>
</head>

<body>

<% if (isLogged) { %>
    <%- include("partials/nav_after_login") %>
<% } else { %>
    <%- include("partials/nav_before_login") %>
<% } %>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                About Us
            </div>
            <div class="content">
                <% if (isLogged) { %>
                    <h3>Avail Our Internet Banking Facilities Now</h3>
                <% } else { %>
                    <h3>Login to avail Internet Banking Facilities Now</h3>
                <% } %>
                <p>
                    Welcome to our bank, where we are committed to providing exceptional financial services to
                    individuals, businesses, and communities. Our bank is built on a
                    foundation of trust and reliability and with a team of professionals.
                </p>
                <p>
                    At our bank, we understand that every customer has unique financial needs and goals. That's why we
                    offer a comprehensive range of banking products and services designed to meet the diverse needs of
                    our customers. We have everything you need to manage your finances with ease and confidence.
                </p>
                <p>
                    Our mission is to be the leading provider of financial services, delivering the
                    highest level of customer service and satisfaction. We are committed to building long-term
                    relationships with our customers based on trust, respect, and integrity. We look forward to serving
                    you and helping you achieve your financial dreams.
                </p>
                <br>
                <% if (!isLogged) { %>
                    <div class="button">
                        <a href="/login">LOGIN</a>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="image-section">
            <img src="/images/bank_image.jpg">
        </div>
    </div>
</div>

<%- include("partials/footer") %>

</body>
</html>