<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/admin_loan.css">
</head>

<body>

<%- include("partials/nav_admin") %>

<% if (length > 0) { %>
    <div style="margin-top: 5rem"></div>
    <h1 class="heading"><i>Pending Account Opening Requests...</i></h1>
    <div class="d-flex justify-content-center">
        <div class="row heading-row">
            <div class="col-sm-1 heading-column">Serial No.</div>
            <div class="col-sm-3 heading-column">Name</div>
            <div class="col-sm-3 heading-column">EMail</div>
            <div class="col-sm-1 heading-column">Submitted Form</div>
            <div class="col-sm-2 heading-column">-</div>
            <div class="col-sm-2 heading-column">-</div>
        </div>
    </div>
    <% for (let i = 0; i < length; i++) { %>
        <div class="d-flex justify-content-center">
            <div class="row loan-row">
                <div class="col-sm-1 heading-column"><%= i + 1 %></div>
                <div class="col-sm-3 heading-column"><%= details[i].first_name %> <%= details[i].last_name %></div>
                <div class="col-sm-3 heading-column"><%= details[i].email %></div>
                <div class="col-sm-1 heading-column"><a href="/admin/admin_main/form/<%= details[i].formPath %>">Link</a></div>
                <div class="col-sm-2 heading-column">
                    <form action="/admin/admin_main/account_requests/accept" method="post">
                        <input type="hidden" name="request_id" value="<%= details[i]._id %>">
                        <button type="submit" class="btn btn-dark">Accept</button>
                    </form>
                </div>
                <div class="col-sm-2 heading-column">
                    <form action="/admin/admin_main/account_requests/reject" method="post">
                        <input type="hidden" name="request_id" value="<%= details[i]._id %>">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
    <p style="margin-top: 5rem; margin-left: 1.5rem">** Please note that Accept or Reject is final and cannot be reverted.</p>

<% } else { %>
    <div style="margin-left: 47%; margin-top: 25%">No Pending Accounts to approve!</div>
<% } %>

</body>
</html>