<%- include("partials/header") %>
<title><%= projectName %></title>
<style>
    .transaction-history {
        margin-top: 5rem;
    }
    .transaction-table {
        overflow-y: auto;
        height: 10rem;
    }
    .transaction-table thead th {
        position: sticky;
        top: 0;
    }
</style>
</head>

<body>

<%- include("partials/nav_admin") %>

<div class="transaction-history">
    <h4>TRANSACTION DETAILS:</h4>
</div>
<div class="transaction-table">
    <table class="table table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Amount Received To/From</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
        <% transactions_length %>
        <% for(let i = 0; i < transactions_length; i++) { %>
            <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><%= amount[i] %></td>
                <td><%= to_from[i] %></td>
                <td><%= date[i] %></td>
                <td><%= time[i] %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

</body>
</html>