<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/admin_main.css">
</head>

<body>

<%- include("partials/nav_admin") %>

<div style="margin-top: 5rem"></div>

<div class="section date-stock">
    <h4>Miscellaneous</h4>
    <p style="font-weight: bold">Current Date: <%= dateString %></p>
    <p style="font-weight: bold; color: green">Current Stock Price: <%= stockPrice %></p>
</div>

<div class="section">
    <h4>Bank Financial Performances:</h4>
    <p>Assets: <%= assets %></p>
    <p>Liabilities: <%= liabilities %></p>
    <p>Revenue: <%= revenue %></p>
    <p>Profits: <%= profits %></p>
</div>

<div style="margin-top: 2rem"></div>
<div class="section">
    <h4>Risk Management Information:</h4>
    <p style="color: #1E90FF;font-weight: bold">Loan Portfolios: <%= loan_portfolios %></p>
    <p style="color: #DC143C; font-weight: bold">Credit Risk: <%= credit_risk %></p>
    <p style="color: #DC143C; font-weight: bold">Market Risk: <%= market_risk %></p>
</div>

</body>
</html>