<%- include("partials/header") %>
<title xmlns="http://www.w3.org/1999/html"><%= projectName %></title>
<link rel="stylesheet" href="/css/admin_loan.css">
</head>

<body>

<%- include("partials/nav_admin") %>

<div style="margin-top: 6rem"></div>

<form class="d-flex" style="width: 40%; margin-top: 1rem; margin-left: 2rem" method="post"
      action="/admin/admin_main/loan/search_query">
    <select class="form-select" aria-label="Default select example" name="search_query">
        <option selected>Open this select menu</option>
        <option value="Home Loan">Home Loan</option>
        <option value="Education Loan">Education Loan</option>
        <option value="Car Loan">Car Loan</option>
        <option value="Personal Loan">Personal Loan</option>
        <option value="Mortgage Loan">Mortgage Loan</option>
    </select>
    <button type="submit" class="btn btn-outline-success" style="margin-left: 2rem">Search</button>
</form>

<form class="d-flex" role="search" style="width: 40%; padding: 2%;" method="post"
      action="/admin/admin_main/loan/search_all">
    <button class="btn btn-outline-success" type="submit">View All Pending Loans</button>
</form>

<% if (loan_length > 0) { %>

    <h1 class="heading"><i>Pending Loan Status..</i></h1>
    <div class="d-flex justify-content-center">
        <div class="row heading-row">
            <div class="col-sm-1 heading-column">Serial No.</div>
            <div class="col-sm-1 heading-column">Loan Type</div>
            <div class="col-sm-3 heading-column">Reason</div>
            <div class="col-sm-1 heading-column">Credit Score</div>
            <div class="col-sm-2 heading-column">Loan Amount</div>
            <div class="col-sm-2 heading-column">-</div>
            <div class="col-sm-2 heading-column">-</div>
        </div>
    </div>
    <% for(let i = 0; i < loan_length; i++)  { %>
        <div class="d-flex justify-content-center">
            <div class="row loan-row">
                <div class="col-sm-1 heading-column"><a
                            href="/admin_main/loan/<%= loans[i].acc_no %>"><%= i + 1 %></a></div>
                <div class="col-sm-1 heading-column"><%= loan_type[i] %></div>
                <div class="col-sm-3 heading-column"><%= reason[i] %></div>
                <div class="col-sm-1 heading-column"><%= credit_score[i] %></div>
                <div class="col-sm-2 heading-column"><%= loan_amount[i] %></div>
                <div class="col-sm-2 heading-column">
                    <form action="/admin/admin_main/loan/accept" method="post">
                        <input type="hidden" name="loan_id" value="<%= loans[i]._id %>">
                        <button type="submit" class="btn btn-dark">Accept</button>
                    </form>
                </div>
                <div class="col-sm-2 heading-column">
                    <form action="/admin/admin_main/loan/reject" method="post">
                        <input type="hidden" name="loan_id" value="<%= loans[i]._id %>">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
    <p style="margin-top: 5rem; margin-left: 1.5rem">** Please note that Accept or Reject is final and cannot be
        reverted.</p>

<% } else { %>
    <div style="margin-left: 47%; margin-top: 20%">No Pending Loans to approve!</div>
<% } %>
</body>
</html>