<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/loan.css">
</head>

<body>

<%- include("partials/nav_after_login") %>

<div class="container top-container">
    <div>
        <img src="/images/loan_1.png" class="top-image"
             style="width: 50rem">
    </div>
    <div>
        <p>
            We may not always have the money we require to do certain things or to buy certain things. In such
            situations, individuals and businesses or institutions go for the option of borrowing money from lenders.
            Our Bank provides many types of secured loans and unsecured loans.
        </p>
        <br>
        <div class="navigation-links">
            <h5>Check our SECURED LOAN SCHEMES here</h5>
            <h2><a href="#one">SECURED LOANS</a></h2><br>
            <h5>Check our UNSECURED LOAN SCHEMES here</h5>
            <h2><a href="#two">UNSECURED LOANS</a></h2>
        </div>
        <% if(loan_length > 0) { %>
            <button class="btn btn-primary btn-lg loan-status-btn" style="margin-top: 5%"><a style="color: white; text-decoration: none;">Loan
                    Status</a>
            </button>
        <% } %>
    </div>
</div>

<% if(loan_length > 0) { %>
    <div class="container container-table loan-table" style="display: none">
        <h4>Applied Loans:</h4>
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Loan Type</th>
                <th scope="col">Loan Amount</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <% loan_length %>
            <% for(let i = 0; i < loan_length; i++) { %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= loan_type[i] %></td>
                    <td><%= amount[i] %></td>
                    <td><%= loan_status[i] %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
<% } %>

<div class="container container-middle" id="one">
    <div>
        <img src="/images/loan_2.png"
             width="45%">
    </div>
    <div>
        <h1>SECURED LOANS</h1>
        <h5>We provide the following schemes</h5>
        <h3>MORTGAGE LOAN ,HOME LOAN, VEHICLE LOAN</h3>
        <p>
            Our Bank gives Secured Loans only if the customer has collaterals for the loan. We need a thorough overview
            of details of the assets that customer wants to put as collateral. After checking the collateral assets we
            will grant the best loan plans ever. The minimum interest rates and our terms and policies are very customer
            friendly.
        </p>
    </div>
</div>

<div class="container container-table">
    <h4>Secured loan interest rate:</h4>
    <table class="table">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">interest Rate</th>
            <th scope="col">Limit in Rupees</th>
            <th scope="col">Limit In Rupees</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Home Loan</td>
            <td>8.5% p.a.</td>
            <td>Upto 75 lakhs</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Vehicle Loan</td>
            <td>8.65% to 9.45% p.a.</td>
            <td>Upto 25 lakhs</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mortgage Loan</td>
            <td>8.75% p.a.</td>
            <td>Upto 15 lakhs</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container container-end" id="two">
    <div id>
        <img src="/images/loan_3.png"
             width="50%">
    </div>
    <div>
        <h1>UNSECURED LOANS</h1>
        <h5>We provide the following schemes</h5>
        <h3>PERSONAL LOAN, EDUCATIONAL LOAN, BUSSINESS/CREDIT LOAN</h3>
        <p>
            Our Bank gives Unsecured Loans based on the creditworthiness of the customer. We do not require any
            collaterals for the loan amount. Based on the credit scores and Credit worth of the Customer best loan plans
            will be suggested. The minimum interest rates and our terms and policies are very customer friendly.
        </p>
    </div>
</div>

<div class="container container-table">
    <h4>Unsecured loan interest rate:</h4>
    <table class="table">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">interest Rate</th>
            <th scope="col">Limit in Rupees</th>
            <th scope="col">Limit In Rupees</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Personal Loan</td>
            <td>10.5% - 21.00% p.a.</td>
            <td>Upto 15 lakhs</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Education Loan</td>
            <td>11.5% p.a.</td>
            <td>Upto 7.5 lakhs</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Business/Credit Card Loan</td>
            <td>40.8% p.a.</td>
            <td>Flexible</td>
        </tr>
        </tbody>
    </table>
    <div class="apply-now">
        <button class="btn btn-primary btn-lg" data-bs-target="#apply_loan" data-bs-toggle="modal"><a href="#"
                                                                                                      style="color: white; text-decoration: none">Apply
                Now for Loan!</a>
        </button>
    </div>
</div>

<div class="modal fade" id="apply_loan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <style>
                form {
                    min-width: 500px;
                    min-height: 300px;
                    padding: 20px;
                    background-color: #9cc2f0;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    float: left;
                }

                label {
                    display: block;
                    float: left;
                    width: 200px;
                    color: rgb(8, 8, 8);
                }

                label, input {
                    display: block;
                    margin-bottom: 20px;
                }

                input[type="submit"] {
                    margin-left: 7.5rem;
                    width: 12rem;
                    background-color: #0053f9;
                    color: rgb(255, 223, 223);
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                input[type="submit"]:hover {
                    background-color: navy;
                }
            </style>
            <form action="/main/loan/apply_loan" method="post">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" required>
                <label for="amount">Amount:</label>
                <input type="text" id="amount" name="amount" required>
                <label for="radio">Loan Type:</label>
                <label>
                    <select required name="loan_type">
                        <option id="loantype">
                        <option value="Home Loan">Home Loan</option>
                        <option value="Personal Loan">Personal Loan</option>
                        <option value="Education Loan">Education Loan</option>
                        <option value="Vehicle Loan">Vehicle Loan</option>
                        <option value="Mortgage Loan">Mortgage Loan</option>
                    </select>
                </label>
                <br>
                <label for="reason">Reason for Loan:</label>
                <input type="textarea" id="reason" name="reason" required>
                <input type="submit" value="Save">
            </form>
            <script>
                const amountInput = document.getElementById("amount");

                const amountRegex = /^\d+(\.\d+)?$/;

                amountInput.addEventListener("input", () => {
                    if (!amountRegex.test(amountInput.value)) {
                        amountInput.setCustomValidity("Please enter a valid number.");
                        amountInput.reportValidity();
                    } else {
                        amountInput.setCustomValidity("");
                    }
                });
            </script>
        </div>
    </div>
</div>

<%- include("partials/footer") %>

</body>

<script>
    const loanStatusBtn = document.querySelector('.loan-status-btn');
    const loanTable = document.querySelector('.loan-table');

    loanStatusBtn.addEventListener('click', () => {
        loanTable.style.display = 'table';
        loanStatusBtn.style.display = 'none';
    });
</script>