<%- include("partials/header") %>
<title><%= projectName %></title>
<link rel="stylesheet" href="/css/main.css">
</head>

<body>

<%- include("partials/nav_after_login") %>


<div class="info">
    <img src="/images/profile_image.jpeg" width="160" height="200">
    <div class="info-text">
        <pre>Acount Holder Name :  hari</pre>
        <pre>Account Number     :  08818325689</pre>
        <br><br>
        <pre>Today's Date       :  <%= date %></pre>
    </div>
</div>

<div class="separator"></div>

<div class="balance"><h4>BALANCE:</h4></div>
<div>
    <div class="balance-table">
        <table class="table table-striped">
            <thead>
            <tr class="table-primary">
                <th scope="col">Account Holder</th>
                <th scope="col">Account Number</th>
                <th scope="col">Balance Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mehul</td>
                <td>21</td>
                <td>5000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="separator"></div>

<div class="transaction-history"><h4>TRANSACTION HISTORY:</h4></div>
<div class="transaction-table">
    <table class="table table-striped">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">To/From</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>+1000</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Lorem ipsum.</td>
            <td>-1000</td>
            <td>Lorem ipsum dolor.</td>
        </tr>
        </tbody>
    </table>
</div>

<%- include("partials/footer") %>

</body>
</html>