<%- include("partials/header") %>
<title><%= projectName %></title>
<script src="/js/update_profile.js" defer></script>
<link rel="stylesheet" href="/css/update_profile.css">
</head>

<body>

<%- include("partials/nav_after_login") %>

<form action="/main/update_profile" method="post">
    <img src="/images/profile_image.jpeg" width="200" height="200" alt="profile-image"/>
    <br><br>
    <br>
    <label for="email">Email-ID:</label>
    <input type="email" id="email" name="email" placeholder="<%= eMail %>">
    <input type="submit" value="Save">
</form>

<%- include("partials/footer") %>

</body>
</html>